
body {
    font-family: Arial, sans-serif;
    background-color: #ffbe24;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    background-color: #e6e6e6;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .pokemon-card img {
        max-width: 150px;
        max-height: 150px;
    }

.pokemon-button {
    background-color: #d84141;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

#pokemon-details {
    margin: 20px auto;
    max-width: 400px;
    padding: 10px;
    background-color: #5bb2fc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
